@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerRegular.woff2") format("woff2"),
      url("../fonts/MullerRegular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerMedium.woff2") format("woff2"),
      url("../fonts/MullerMedium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerBold.woff2") format("woff2"),
      url("../fonts/MullerBold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

:root {
  --darkGrey-color: #666666;
  --mainBg-color: #f1f1f1;
  --lightGrey: #999999;
  --white-color: #ffffff;
  --current-color: #000000;
  --active-color: #cc9933;
  --lightActive-color: #f0bf5f;
  --heading-color: #333333;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  pointer-events: none;
  overflow: hidden;
  outline: transparent;
  outline-offset: 0;
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
  min-width: 1200px;
  font-family: "Muller", "Arial", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--current-color);
  background-color: var(--mainBg-color);
}


a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

/* glob */
.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  padding: 11px 19px;
  color: var(--active-color);
  border: 1px solid var(--active-color);
  border-radius: 10px;
}

.flex {
  display: flex;
}

.section__title {
  margin: 0;
  margin-bottom: 17px;
  padding-left: 40px;
  font-size: 4rem;
  font-weight: 400;
  color: var(--heading-color);
}

.link-pointer {
  margin-left: 2px;
  vertical-align: middle;
}

.container {
  margin: 0 auto;
  margin-bottom: 67px;
  padding: 0 15px;
  max-width: 1200px;
}

/* header */
.header__top {
  padding: 30px 0;
  align-items: center;
  justify-content: space-between;
}

.header__left {
  align-items: center;
}

.header__logo {
  margin-right: 40px;
  line-height: 0;
}

.header__link-tel {
  font-size: 2rem;
  font-weight: 500;
  color: var(--darkGrey-color);
}

.header__link-login {
  padding-left: 30px;
  display: block;
  color: var(--active-color);
  background-image: url("../images/arrow.svg");
  background-position: left center;
  background-size: 24px;
  background-repeat: no-repeat;
}

.header__bottom {
  padding: 0 45px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white-color);
  border-radius: 15px;
}

.header__btn-right {
  padding-top: 14px;
  padding-bottom: 14px;
}

.header__nav {
  margin-right: 114px;
}

.header__item:not(:last-child) {
  margin-right: 45px;
}

.header__link {
  color: var(--darkGrey-color);
}

.header__btn:first-child {
  margin-right: 40px;
}

/* special-offers */
.special-offers__left {
  margin-right: 24px;
  flex-direction: column;
  flex-basis: 50%;
}

.special-offers__content {
  padding: 38px 45px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  border-radius: 15px;
  color: var(--white-color);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.special-offers__top {
  margin-bottom: 24px;
  flex-basis: 50%;
}

.special-offers__bottom {
  flex-basis: 50%;
}

.special-offers__right {
  flex-basis: 50%;
}

.special-offers__subtitle {
  margin: 0;
  margin-bottom: 15px;
  max-width: 420px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
}

.special-offers__subtitle--big {
  font-size: 6rem;
}

.special-offers__price {
  margin-bottom: 45px;
  font-size: 2rem;
  opacity: 0.8;
}

.special-offers__price--big {
  font-size: 3rem;
}

/* about-us */
.about-us__descr {
  max-width: 890px;
  line-height: 2;
}

/* services */
.services__items {
  flex-wrap: wrap;
}

.services__item {
  flex-basis: 49%;
  border-radius: 15px;
  background-color: var(--white-color);
  overflow: hidden;
}

.services__item:first-child,
.services__item:nth-child(2) {
  margin-bottom: 24px;
}

.services__item:not(:nth-child(2n)) {
  margin-right: 23px;
}

.services__image {
  min-height: 165px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.services__info {
  padding: 26px 45px 35px;
}

.services__subtitle {
  margin: 0;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2;
  color: var(--active-color);
}

.services__descr {
  margin: 0;
  max-width: 402px;
  line-height: 2;
}

/* advantages */
.advantages__items {
  flex-wrap: wrap;
  gap: 22px;
}

.advantages__item {
  padding: 40px 39px 32px 45px;
  flex-direction: column;
  align-items: flex-start;
  max-width: 275px;
  border-radius: 15px;
  background-color: #fff;
}

.advantages__icon {
  margin-bottom: 10px;
  width: 64px;
  height: 66px;
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
}

.advantages__descr {
  margin: 0;
  line-height: 2;
}

/* accommodation */
.accommodation__items {
  flex-wrap: wrap;
  gap: 24px;
}

.accommodation__item {
  width: 374px;
  min-height: 440px;
  background-color: var(--white-color);
  border-radius: 15px;
  overflow: hidden;
}

.accomodation__info {
  padding: 27px 45px;
}

.accomodation__rating {
  justify-content: space-between;
  margin-bottom: 12px;
}

.accomodation__price {
  margin: 0;
}

.accomodation__text {
  color: var(--lightGrey);
}

.accommodation__text--bold {
  margin-right: 14px;
  font-size: 2rem;
  font-weight: 700;
}

.rating {
  flex-wrap: nowrap;
  gap: 6px;
}

.accommodation__subtitle {
  margin: 0;
  margin-bottom: 14px;
  font-size: 16px;
  font-weight: 400;
}

.accommodation__location {
  margin: 0;
  margin-bottom: 18px;
  color: var(--lightGrey);
}


.accommodation__item--all {
  position: relative;
  background-image: url("../images/accommod-9.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.accommodation__link {
  position: absolute;
  bottom: 26px;
  left: 54px;
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
  text-align: center;
  color: var(--white-color);
}

/* tour */
.tour__container {
  padding: 46px 40px;
  max-width: 1170px;
  background-color: #e9e9e9;
  border-radius: 15px;
}

.tour__title {
  padding-left: 0;
}

.tour__form {
  padding: 27px 29px;
  background-color: var(--white-color);
  border-radius: 15px;
}

.form__items {
  align-items: center;
  gap: 52px;
}

.form__item {
  flex-direction: column;
}

.form__label {
  margin-bottom: 15px;
  padding-left: 5px;
  font-size: 1.2rem;
}

.form__input {
  border: none;
  font-size: 1.6rem;
}

.form__input--check {
  width: 120px;
  border-bottom: 1px solid #e9e9e9;
}

.form__btn {
  padding: 11px 31px;
}

/* contacts */
.contacts__container {
  margin-bottom: 40px;
}
.contacts__wrapper {
  padding: 45px;
  justify-content: space-between;
  background-color: var(--white-color);
  border-radius: 15px;
}

.contacts__info {
  flex-direction: column;
  flex-basis: 34.7%;
}

.contacts__items {
  margin-bottom: 45px;
}

.contacts__item {
  padding: 24px 0;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #e9e9e9;
}

.contacts__item:first-child {
  padding-top: 0;
}

.contacts__subtitle {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;

}

.contacts__descr {
  margin: 0;
  width: 229px;
  line-height: 1.5;
}

.contacts__descr--address {
  flex-direction: column;
  align-items: flex-start;
}

.contacts__link {
  color: var(--active-color);
}

.contacts__btn {
  padding: 25px 29px;
}

.contacts__image {
  flex-basis: 60.5%;
  background-image: url("../images/contacts-img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

/* footer */
.footer__container {
  margin-bottom: 20px;
}

.footer__wrapper {
  padding: 45px;
  padding-bottom: 0;
  justify-content: space-between;
  color: var(--white-color);
  background-color: var(--heading-color);
  border-radius: 15px;
}

.footer__left {
  padding-bottom: 47px;
  flex-basis: 28%;
}

.footer__middle {
  padding-left: 18px;
  flex-basis: 50%;
  z-index: 5;
}

.address {
  flex-direction: column;
  background-position: right bottom;
  background-size: 254px 228px;
  background-repeat: no-repeat;
}

.footer__descr {
  margin: 0;
  margin-bottom: 37px;
  line-height: 1.9;
}

.address__location {
  margin-bottom: 15px;
}

.footer__link {
  display: block;
  line-height: 1.5;
  color: var(--active-color);
}

.address__items {
  margin-bottom: 15px;
}

.footer__item {
  margin-bottom: 20px;
}

.footer__item-link {
  display: block;
  width: 25px;
  height: 25px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
